.container {
    border-top: 10px solid forestgreen;
}

#main-jumbo {
    margin-bottom: 0;
    padding: .5rem 1rem;
    text-align: center;
}

#signature {
    margin-top: 8%;
    margin-right: 20%;
    font-size: 5.5vw;
    
}

#profile-photo {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

#main-content {
    border-right: 3px solid forestgreen;
    height: 100%;
}

#books {
    margin-top: 5%;
    margin-left: 5%;
}

.book-card {
    width: 18rem;
    float: left;
}

@media only screen and (max-width: 400px) {
    #signature {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 768px) {
    #signature {
        margin-right: 0;
        font-size: 7vw;
    }
}