body, html {
    height: 100%;
    position: relative;
}

.container-fluid {
}

.row {
}

.navbar {
    background-color: #e85a4f !important;
    width: 100%;
    padding-right: 2rem;
    margin-left: 0 !important;
}

.top-nav {
    position:fixed;
    z-index: 2;
}

#banner {
    width: 100%;
    max-height: 100%;
    padding-top: 55px;
}

.main-row {
    min-height: 100vh;
}

.main-content {
    background-color:#eae7dc; 
}

#books-heading {
    margin-bottom: 3%;
}

#books, #blog-home-page {
    margin-top: 5%;
    margin-left: 5%;
    color: #e98074;
}


.book-card {
    width: 15rem;
    color: #e98074;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

#blog-home-page {
    clear: both;
}

#side-content {
    background-color: #d8c3a5;
}

.social-media-icons {
    text-align: center;
    margin-top: 1em;
}

.newsletter {
    margin-top: 1em;
    color: #e98074;
    margin-top: 1em;
}

.page-bottom {
    background-color: #e85a4f !important;
    border-top: 1rem solid #8e8d8a;
    color: white;
    position: relative;
    width: 100%;
}

.footer-text {
    margin: auto;
}

/* begin about page css */
#about-main-row {
    padding-top: 25px;
    border-top: 2em solid #430000;
}

#about-page-profile-img {
    width: 100%;
    border-radius: 10px;
}

.about-heading {
    color: #e98074;
    text-align: center;
}

.about-p {
    color: #e85a4f;
    padding: 0 2em;
    font-size: 1.5em;
}
/* end about page css */

@media only screen and (min-width: 775px){
    .main-content {
        border-right: 1em solid #8e8d8a;
    }

    #about-page-profile-img {
        margin-top: 15%;
        margin-left: 10%;
    }
}


