body, html {
    height: 100%;
    position: relative;
}

.navbar {
    background-color: white !important;
    width: 100%;
    padding-right: 1em;
}

.top-nav {
    position:fixed;
    z-index: 2;
}

.picture-nav {
    padding-top: 55px;
    text-align: center;
}

.nav-icons {
    max-width: 200px;
    margin: 1em;
}

.name-heading-column {
    text-align: center;
}

.name-heading {
    font-family: 'Dancing Script', cursive;
    color: #efe2ba;
}

#pic-column-home {
    text-align: center;
}

#home-profile-img {
    max-width: 50%;
    border-radius: 15%;
    margin-top: 5%;
}
.main-row {
    min-height: 100vh;
}

.social-media-icons {
    margin: auto;
}

#qotd {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
}

@media only screen and (min-width: 775px){
    #about-page-profile-img {
        margin-top: 15%;
        margin-left: 10%;
    }
}


